

:root {
    --main-bg-color: rgb(0, 20, 0);
    --primary-color: rgb(0, 121, 107);
    --secondary-color: rgba(0, 100, 100, 0.5);
    --accent-color: rgba(0, 255, 150, .8);
    --primary-font-color: rgb(255, 255, 255);
    --text-md: 1.2rem; font-weight: bold;
    --screen: max-width;
    
}
/* ooooooooooo UTILITIES oooooooooooooooo */
html {
    display: flex;
    flex-direction: column;
    align-content: center;
   width: auto;
    min-width: 380px;
  
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}
body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    min-width: 380px;
    
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
        }
    }
    /* Column container */
.row {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.col {
    display: flex;
    flex-direction: column;
}
.shadow-sm {
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.427);
}
.shadow-md {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.457);
}
.sectionTitle {
    display: inline-block;
    width: 100%;
    margin: auto;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: xx-large;
}
.pill {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: black;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.35;
    white-space: nowrap;
    object-fit: scale-down;
}
.pill img {
    display: flex;
    width: 1.5rem;
    
}
/* --------------- tooltip */


  .hidden {
    display: none;
    object-fit: scale-down;
    border-radius: 4px;
    width: 50%;
    border: 1px solid black;
    z-index: 100;
    background-color: #ccc;
    position: fixed;
    margin-left: 25%;
    margin-top: 0px;
    height: 80%;
    top: 20px;
    overflow: scroll;
    padding: 1rem;
  }
  .shadow {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 30%;
    backdrop-filter: blur(2px);
  }
  .tooltipImage {
   display: flex;
   width: 90%;
   height: min-content;
   margin: auto;
   padding-bottom: 3rem;
  }
  .buttonLabel {
    &:hover {
      cursor: pointer;
    }
  }


  #buttonCheck:checked {
    &+div.shadow {
      display: block;
      &+div {
        display: block;
      }
    }
  }







/* xxxxxxxxxxxxxxxxxxxtooltip */
.buttonHalfBorder {
    display:flex;
    width: 30%;
    max-width: 20rem;
    min-width: max-content;
    height: 3rem;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    text-align: center;
    justify-content:center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition: 150ms;
    transition-timing-function: ease;
    padding-left: 1rem;
    padding-right: 1rem;
}
.buttonHalfBorder img {
    display: flex;
    height: 100%;
    margin: auto;
    margin-right: 1rem;
    padding: 2px;
    border-radius: 3px;
    }
@media (max-width: 640px) {
    .buttonHalfBorder {
        width: 100%;  
        padding: .5rem;}}
@media (min-width: 640px) {
    .buttonHalfBorder {
        width: 25%;  

    padding: .5rem 1rem
    }}
@media (min-width: 800px) {
.buttonHalfBorder {
font-size: x-large;
}}
    
.buttonHalfBorder:hover {
    scale: 125%;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.303);
    box-shadow: 4px 4px 20px black;
}







/* -------------- MODAL ----------- */
/* .modal {
        position:relative;
        width: 12rem;
} */

/* .modal span {
    display: none;
    border-radius:6px;
    color:black;
    background:white;
} */

  /* .modal input {
    display: none;
} */
/* .modal img {
    z-index: 100;
    width: 24rem;
    height: 24rem;
} */
/* .modal input:checked+span {
    display: block;
    opacity: 1;
    
} */
/* .modal span::after div img {
    position: relative;
    content: "";
    width: 52rem;
    height: 96rem;
    top: 0;
    left: 0;
    z-index: 2;
    
  } */
/* .modal:hover span{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width: 52rem;
    height: 96rem;
    border:1px solid black;
    overflow:hidden;
    padding:8px;
    overflow: scroll;
    & img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
} */



/* [Object] Modal
 * =============================== */
 .modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
  }
  .modal img {
    z-index: 100;
    width: 24rem;
    height: 24rem;
}
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .modal-state {
    display: none;
  }
  
  .modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-state:checked + .modal .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
  }


  
  p img {
    width: 100%;
    height: auto;
    float: left;
    margin: 0 1em 1em 0;
  }
/* inspired by https://codepen.io/Idered/pen/DdeoeW */
/* xxxxxxxxx UTILITIES xxxxxxxxxxxxxxxxx */
/* ----------  NAVBAR ----------- */
.header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    position: sticky;
    border: 2px solid black;
    width:auto;  
    background-color:var(--secondary-color);
    padding:1rem;
}
.navBar {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    width: auto;
    height: max-content;
    text-decoration: none;
}
.navButtons {
    display: none;
    flex-direction: row;
    justify-content: end;
    height: auto;
    width: max-content;
    gap: 1rem;
    margin-right: 0;
}
.navButton {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width:4rem;
    margin: auto;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #182f00;
    text-align: center;
    color: var(--primary-font-color);
    font-weight: bold;
    border-style: none;
    &:hover {
        
            background: #2d7901;
            background: -moz-linear-gradient(#42b301,  #2d7901);	
            background: -webkit-gradient(linear, left top, left bottom, from(#42b301), to(#2d7901));
            background: -webkit-linear-gradient(#42b301,  #2d7901);
            background: -o-linear-gradient(#42b301,  #2d7901);
            background: -ms-linear-gradient(#42b301,  #2d7901);
            background: linear-gradient(#42b301,  #2d7901);
        
    }
}

/* Main menu */

#menu
{
    visibility: visible;
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
}
@media screen and (min-width: 640px) {
    #menu {   
        visibility: hidden;
    }
    .navButtons {   
        display: flex;
        }
}
#menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

#menu a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
	color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #182f00;
    background: -moz-linear-gradient(#2b5300, #182f00);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #182f00),color-stop(1, #2b5300));
    background: -webkit-linear-gradient(#2b5300, #182f00);    
    background: -o-linear-gradient(#2b5300, #182f00);	
    background: -ms-linear-gradient(#2b5300, #182f00);	
    background: linear-gradient(#2b5300, #182f00);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 10px;
}



#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 10px;
}

#menu ul a:hover
{
    background: #2d7901;
	background: -moz-linear-gradient(#42b301,  #2d7901);	
	background: -webkit-gradient(linear, left top, left bottom, from(#42b301), to(#2d7901));
	background: -webkit-linear-gradient(#42b301,  #2d7901);
	background: -o-linear-gradient(#42b301,  #2d7901);
	background: -ms-linear-gradient(#42b301,  #2d7901);
	background: linear-gradient(#42b301,  #2d7901);
}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #2b5300;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #184201; 
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #184201; 
    border-bottom-color: transparent; 	
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




.logo {
    display: flex;
    margin:auto;
    margin-left: 0;
    width: 10rem;
}
@media (max-width: 750px) {
    .navBar {
        gap: 0.5rem;

    padding: .5rem 1rem
    }}


/* xxxxxxxxxxxxxxx NAVBAR xxxxxxxxxxxxx */
/* ----------  HERO ----------- */
.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 50%;
    margin: auto;
    margin-top: 1rem;
    text-decoration: none;
 

}

.heroTopContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32rem;
    margin: auto;
}
.heroTextContainer {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 60%;
    margin: auto;

}
.heroImageContainer {

    display: flex;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    margin: auto;
    object-fit:contain;
    overflow: hidden;
    justify-content: center;
    
    
}
.hero img {
    display: block;
    margin: auto; 
    height: 100%;

}
.skillMiniContainer {
    display: none;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
@media (min-width: 750px) {
    .skillMiniContainer{
        display: flex;
    }
    }
@media (max-width: 750px) {
    .hero {
        flex-direction: column;}
    .heroImageContainer {
        width: 60%;
        min-width: 300px;
    }
    .heroTextContainer {
        width: 70%;
    }
    
    .heroTopContainer {
        height: auto;
        flex-wrap: wrap;
    }
    }
/* xxxxxxxxxxxxxxx HERO xxxxxxxxxxxxx */
/* ----------  SKILLS ----------- */
.skills {
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 2rem;

}
.skillsContainer {
    display: flex;
   
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    margin-top: 2rem;
    padding: 1rem;
    height: max-content;
   
    border: 2px solid rgba(0, 128, 0, 0.356);
    background-color:  rgba(0, 128, 0, 0.1)
  
}
.skillCard {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 30%;
    min-width: 200px;
    height: 7rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.skillTitle {
    font-size: x-large;
    margin: 0%;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}
.skillCardImageContainer {
   display: flex;
   flex-direction: row;
   height: 2rem;
   width: 100%;
   margin-bottom: 1rem;
}


.skillCardImageContainer img {
    height: 100%;
    scale: 2;
}


/* xxxxxxxxxxxxxxx SKILLS xxxxxxxxxxxxx */
/* ----------  GALLERY ----------- */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    height: auto;
    width: 100%;
    gap: 4rem;

}
.galleryColumn {
display: flex;
flex-direction: column;
width: min-content;
height: auto;
gap: 4rem;


}

.galleryCard {
    display: flex;
    width: 100%;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    
}
.galleryCardImageContainer {
    display: flex;
    object-fit: cover;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    height: 24rem;
    margin: auto;
    
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    :hover {
        scale: 1.1;
    }
}

.galleryImage {
    display: flex;
    height: 100%;
    width: min-content;
    margin: auto;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    
}

.galleryCardImageContainer:hover .tooltip{
    visibility: visible;
    height: 100%;
    margin: auto;
}

@media (max-width: 885px) {
    .gallery {
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
    }
    .galleryColumn {
        width: 100%;
        margin: auto;
    }
}
/* xxxxxxxxxxxxxxx GALLERY xxxxxxxxxxxxx */
/* ------------------------ ABOUT ----- */
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    height: auto;
    background-color: gray;
}
.aboutImageContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
 
}
.aboutImageContainer img {
    display: block;
    width: 100%;
    height: auto;
}
.aboutInfoBlock {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #ccc;
}
.aboutSkillsExpanded {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: #db2727;
}
@media (max-width: 640px) {
    .aboutImageContainer {
        width: 100%;
        height: auto;
    }
    .aboutImageContainer {
        width: 80%;
    }
  
}
/* XXXXXXXXXXXXXXXX ABOUT XXXX */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    padding-top: 5rem;
    height: 100vh;
}
