---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
const title = "About";
---

<Layout title={title}>
	<head>

	</head>
	<header>
	</header>
	<main class="flex flex-col m-auto h-full">
        <Navbar/>
        <div class="block w-full h-auto text-xl drop-shadow-xl shadow-black">
            <div class="flex w-3/6 h-max m-auto">
                <img class="flex w-full h-auto m-auto" src="https://img.rankedboost.com/wp-content/plugins/super-smash-bros-ultimate/assets/character-images-main/Mario_SSBU.png"/>
            </div>
            <h1 class="w-full h-auto">hello</h1>
            <div class="w-full h-full">hello</div>
        </div>
    </main>
    <footer>
        <Footer/>
    </footer>
</Layout>