---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import Showcase from '../components/Showcase.astro'
import ShowcaseCard from '../components/ShowcaseCard.astro';

const { href, title, body, image } = Astro.props;

---

<Layout title="Welcome to Astro.">
	<head>

	</head>
	<header>
	</header>
	<main >
		
		<Hero/>
		<Navbar/>
		<div class="showcase grid gap-6 grid-cols-1 lg:max-3xl:grid-cols-2 w-4/6 sm:max-3xl:w-full content-center m-auto justify-evenly h-max">
			<ShowcaseCard 
				href="https://astro.build/chat/"
				title="A Great Heron"
				content="kjhgjkhuytuyg uyg uy uy yu gu g  ugy gkuyg k"
				image='https://images.pexels.com/photos/17824719/pexels-photo-17824719/free-photo-of-heron-in-a-stream.jpeg'
			/>
			<ShowcaseCard 
				href="https://astro.build/chat/"
				title="A Great Heron"
				content="kjhgjkhuytuyg uyg uy uy yu gu g  ugy gkuyg k"
				image='https://images.pexels.com/photos/17815428/pexels-photo-17815428/free-photo-of-portrait-of-a-brown-border-collie-standing-in-a-meadow.jpeg'
			/>
			<ShowcaseCard 
				href="https://astro.build/chat/"
				title="A Great Heron"
				content="kjhgjkhuytuyg uyg uy uy yu gu g  ugy gkuyg k"
				image='https://images.pexels.com/photos/17813826/pexels-photo-17813826/free-photo-of-portrait-of-a-pretty-redhead-reading-a-book.jpeg'
			/>
			<ShowcaseCard 
				href="https://astro.build/chat/"
				title="A Great Heron"
				content="kjhgjkhuytuyg uyg uy uy yu gu g  ugy gkuyg k"
				image='https://images.pexels.com/photos/17824719/pexels-photo-17824719/free-photo-of-heron-in-a-stream.jpeg'
			/>
			<ShowcaseCard 
				href="https://astro.build/chat/"
				title="A Great Heron"
				content="kjhgjkhuytuyg uyg uy uy yu gu g  ugy gkuyg k"
				image='https://images.pexels.com/photos/17824719/pexels-photo-17824719/free-photo-of-heron-in-a-stream.jpeg'
			/>
			<ShowcaseCard 
				href="https://astro.build/chat/"
				title="A Great Heron"
				content="kjhgjkhuytuyg uyg uy uy yu gu g  ugy gkuyg k"
				image='https://images.pexels.com/photos/17824719/pexels-photo-17824719/free-photo-of-heron-in-a-stream.jpeg'
			/>
			</div>
			<a href="/">
			<div class="flex w-full rounded-full m-auto mt-10">
				<div class="flex relative z-0 bg-white w-10 h-7 rounded-full m-auto -mr-12"></div>
				<svg class="z-10" xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM377 271c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-87-87-87 87c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 167c9.4-9.4 24.6-9.4 33.9 0L377 271z"/></svg>
			</div>
		</a>
		</Showcase>
	</main>
	<footer>
		<Footer/>
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
