<a href={{.link}} class="no-underline">
<div class="listPageCardContainer flex flex-row p-2 h-auto dark:bg-slate-700 bg-slate-200 rounded-xl shadow-xl no-underline hover:ring-1 hover:bg-slate-300 dark:hover:bg-slate-600">
    <div class="flex flex-col w-4/12 m-auto">
        <h2 class="no-underline">{{.title}}</h2>
        <p class="no-underline">{{.description}}</p>
    </div>
    <div class="flex flex-col w-6/12 h-auto m-auto justify-center">
        <img src={{.thumb}} class="flex m-auto"></img>
    
    </div>

</div>
</a>