<!DOCTYPE html>

<div class="flex flex-col h-auto bg-orange-300">
    <div class="flex flex-row w-full h-auto bg-red-300">title

    </div>
    <div id="topSkillsAndImage" class="flex flex-col w-full h-auto bg-green-800  p-1" >
        <div class="font-bold text-lg text-center text-white">image and top skills</div>
        <div class="flex flex-row">
            <div class="flex flex-row w-4/6 h-full bg-yellow-200 m-auto">topSkills
                <ul>
                    <li>-------------------</li>
                    <li>-------------------</li>
                    <li>-------------------</li>
                    <li>-------------------</li>
                    <li>-------------------</li>
                </ul>
            </div>
            <div class="flex flex-row w-2/6 h-72 bg-blue-300 m-auto">image
            </div>
        </div>
    </div>
    <div id="skillsBreakdown" class="flex flex-col w-full h-auto bg-violet-800  p-1" >
        <div class="font-bold text-lg text-center text-white">skills breakdown</div>
        
            <div class="flex flex-col w-full h-auto bg-yellow-700 m-auto p-1 text-white">timeline of skills
                <div class="flex flex-row w-full h-52 bg-yellow-400 m-auto">line chart

                </div>
            </div>
            <div class="flex flex-col w-full h-auto flex-wrap bg-red-700 m-auto p-1 text-white">
                skills card container 
                <div class="flex flex-row w-full h-auto flex-wrap m-auto">
                    <div class="mediaQFullWidth flex flex-row w-5/12 h-52 bg-yellow-500 m-auto border-2 overflow-auto">
                        skillCard   -----------------------------------------------------
                    </div>


                </div>
            </div>
    </div>

</div>

<style>
    @media screen and (max-width: 600px) {
    .mediaQFullWidth {
        width: 100%;
    }
    }

</style>



</html>