---

---

<div id="contact" class="flex flex-row w-full h-52 bg-opacity-50 justify-center flex-wrap text-zinc-100">
  
    <div class="flex flex-row w-auto m-auto gap-7">
        <a href="google.com" class=" flex w-40 m-1 bg-opacity-90 text-center border-y-2 border-opacity-25 justify-center transition ease-in-out hover:scale-110 hover:font-semibold hover:-translate-y-1 ">
            EMAIL
        </a>
        <a href="google.com" class=" flex w-40 m-1 bg-opacity-90 text-center border-y-2 border-opacity-25 justify-center transition ease-in-out hover:scale-110 hover:font-semibold hover:-translate-y-1 ">
            SOCIAL
        </a>
        <a href="google.com" class=" flex w-40 m-1 bg-opacity-90 text-center border-y-2 border-opacity-25 justify-center transition ease-in-out hover:scale-110 hover:font-semibold hover:-translate-y-1 ">
            LINKEDiN
        </a>
    </div>
</div>
