---

---

    <section>
            
                <div
                  class="mx-auto max-w-screen-xl lg:h-92 lg:max-3xl: align-middle mb-0 pb-2 "
                >
                  <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                    <div
                      class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-92"
                    >
                      <img
                        alt="Party"
                        src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                        class="flex absolute inset-0 h-full w-full object-cover m-auto align-middle"
                      />
                    </div>
              
                    <div class="">
                      <h2 class="text-3xl font-bold sm:text-4xl ">Hi I'm Mario Bustillos</h2>
                      <h2 class="text-3xl font-bold sm:text-4xl "></h2>
              
                      <p class="mt-4 text-gray-600">
                        I love figuring out "the Why" behind things, Start with the end in mind, and leaving things I work on more valuable and usable than ever before.
                      </p>
              
                      
                    </div>
                  </div>
                </div>
       
            
        
        </section>