---

---

<div class="w-full bg-red-600 flex flex-row justify-between">
    <div>LOGO</div>
    <nav class="flex flex-row ">
        <ul class="flex flex-row h-max gap-4">
            <a href="#skills" class="transition ease-in-out hover:scale-105 hover:font-semibold hover:drop-shadow-lg hover:translate-y-1"><li>skills</li></a>
            <a href="#showCase" class="transition ease-in-out hover:scale-105 hover:font-semibold hover:drop-shadow-lg hover:translate-y-1"><li>showcase</li></a>
            <a href="#contact" class="transition ease-in-out hover:scale-110 hover:font-semibold hover:drop-shadow-lg hover:translate-y-1"><li>contact</li></a>
        </ul>
    </nav>


</div>