---
interface Props {
	title: string;
	content: string;
	href: string;
    image: string
}

const { href, title, content, image } = Astro.props;
---

<div class="cardContainer flex flex-col w-52 h-52 m-auto bg-white">
    <div 
    class="inline-block rounded"
    title={title}
  ></div>
    <div class="cardTitle z-1">
        <h3 class="z-1">{title}</h3>
    </div>
    <div class="cardImage flex m-auto overflow-hidden ">
        <img src={image} class="flex z-0 bg-red-700 m-aut w-full object-cover overflow-hidder rounded-lg"/>
    </div>            
    
</div>    
