---
import ShowcaseCard from '../components/ShowcaseCard.astro';
---

<div id="showCase" class="showcase  flex flex-row w-full h-max min-h-10 bg-green-500 ">
<h2 class=" m-auto">Showcase</h2>


</div>