---
import Tile from './tile.astro';
import Modal from '../components/Modal.astro';

---
<section id="skills" class="flex flex-col justify-around xl:max-3xl:justify-center">
  <h2 class="sectionTitle">Skills</h2>
    <div class="flex flex-row justify-between md:max-3xl:justify-center">
      
      <div class="skillCard ">
        <h2 class="w-full text-center rounded-lg">Design</h2>
        <Tile 
        tileTitle="Super Mario" 
        tileImage="https://vignette.wikia.nocookie.net/sml/images/c/c0/Mario's_Head.png"
        modalTitle="title"
        modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
        />
        <Tile 
        tileTitle="CAD" 
        tileImage="https://wiki.freecad.org/images/0/06/Freecad.svg"
        modalTitle="title"
        modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
        />
        <Tile 
        tileTitle="tHiS" 
        tileImage="https://vignette.wikia.nocookie.net/sml/images/c/c0/Mario's_Head.png"
        modalTitle="title"
        modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
        />
        <Tile 
        tileTitle="THat" 
        tileImage="https://vignette.wikia.nocookie.net/sml/images/c/c0/Mario's_Head.png"
        modalTitle="title"
        modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
        />
    </div>
    <div class="skillCard ">
      <h2 class="w-full text-center rounded-lg">Web Dev</h2>
      <Tile 
      tileTitle="React" 
      tileImage="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"
      modalTitle="title"
      modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
      />
      <Tile 
      tileTitle="Look" 
      tileImage="https://logowik.com/content/uploads/images/123_css3.jpg"
      modalTitle="title"
      modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
      />
      <Tile 
      tileTitle="tHiS" 
      tileImage="https://vignette.wikia.nocookie.net/sml/images/c/c0/Mario's_Head.png"
      modalTitle="title"
      modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
      />
      <Tile 
      tileTitle="THat" 
      tileImage="https://vignette.wikia.nocookie.net/sml/images/c/c0/Mario's_Head.png"
      modalTitle="title"
      modalContent="adflkjasd;lfkjasldkf adsf asd fa sdf adsf asdf a dsf asdf asdfadsf asdf adsfa dsf "
      />
  </div>
    
  </div>
    

</section>

<style>
  .skillCard {
    display: flex;
    flex-wrap: wrap;
    columns: 2;
    margin: auto;
    height: min-content;
    border-radius: 15px;
    background-color: #374151; /*bg-gray-700  */
    width: 45%;
    max-width: 350px;
    justify-content:space-evenly;
    
    }
  
</style>