 <head>

</head>

    <!-- ----- column1 -->
  <div class="galleryColumn">
    <div class="galleryCard">
      <div class="galleryImageTitle">Graphic Design</div>
      <div class="galleryCardImageContainer">
        
        <label class="buttonLabel" for="modal-1">
          <img src="./images/CAD-table.webp" alt=""  width="500px" height="500px" class="galleryImage"/>
        </label>
      </div>
    </div>

    <div class="galleryCard">
      <div class="galleryCardImageContainer">
        <label class="buttonLabel" for="modal-2">
          <img src="./images/HB2.png" alt=""  width="100px" height="100px" class="galleryImage"/>
        </label>
      </div>
    </div>
    
  </div>
  <!-- xxxxxxxxxx column1 -->
      <!-- ----- column2 -->
  <div class="galleryColumn">
      <div class="galleryCard">
        <div class="galleryCardImageContainer">
          <label class="buttonLabel" for="modal-3">
            <img src="./images/sptilesvg-square.svg" alt=""  width="500px" height="500px" class="galleryImage"/>
          </label>
        </div>
    </div>
                    
    <div class="galleryCard">
      <div class="galleryCardImageContainer">
        <label class="buttonLabel" for="modal-4">
          <img src="./images/319.png" alt=""  width="500px" height="500px" class="galleryImage"/>
        </label>
      </div>
    </div>
<!-- xxxxxcolumn2 -->
  </div>
  
<!-- ============================================= MODAL CONTENT ========== -->

 <input class="modal-state" id="modal-1" type="checkbox" onclick="getModalOneContent()" />
 <div class="modal">
   <label class="modal__bg" for="modal-1"></label>
   <div class="modal__inner">
     <label class="modal__close" for="modal-1"></label>
       <div id="modalOneContent"></div>
   </div>
 </div>
 
 <input class="modal-state" id="modal-2" type="checkbox" onclick="getModalTwoContent()"  />
 <div class="modal">
   <label class="modal__bg" for="modal-2"></label>
   <div class="modal__inner">
     <label class="modal__close" for="modal-2"></label>
     <div id="modalTwoContent"></div>
   </div>
 </div>
 
 <input class="modal-state" id="modal-3" type="checkbox" onclick="getModalThreeContent()" />
 <div class="modal">
   <label class="modal__bg" for="modal-3"></label>
   <div class="modal__inner">
     <label class="modal__close" for="modal-3"></label>
     <div id="modalThreeContent"></div>
   </div>
 </div>
 
 <input class="modal-state" id="modal-4" type="checkbox" onclick="getModalFourContent()"  />
 <div class="modal">
   <label class="modal__bg" for="modal-4"></label>
   <div class="modal__inner">
     <label class="modal__close" for="modal-4"></label>
     <div id="modalFourContent" class="carouselBody"></div>
   </div>
 </div>
 
   <!-- xxxxxxxxxxxxxxxxxxxxxxxxx modal Content xxxxxxxxxxxxxxxxxxxxxxxx -->
