
<style>
    .carouselBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    min-height: 400px;
    width: 100%;
    margin-top: 6rem;
    background: #eaf4eb;
  }
  .carousel {
    display: flex;
    width: 100%;
    margin: auto;
    .slides {
      display: flex;
      margin: auto;
      margin-top: -10%;
      margin-left: 0;
      .slideImage {
        display: flex;
        position: absolute;
        width: 450px;
        height: 450px;
        opacity: 0;
        z-index: 9999;
        &.active {
          opacity: 1; }}}
  
    .overlays {
      position: relative;
      width: 36em;
      height: 18em;
      .bar {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bar-color);
        transform-origin: left; } }
    .carouselNavLinks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: auto;
      padding: -6rem 0 0 6em;
      list-style-type: none;
      .carouselNavLink {
        font-size: 2rem;
        font-family: Lora, serif;
        line-height: 1.5;
        text-decoration: none;
        color: #7f8c8d;
        transition: 0.3s;
        &:hover {
          color: #1c1e1f;
        }
        &.active {
          color: black;
          pointer-events: none; }}}}

          .btn{
            background-color: #147;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 49px;
            font-weight: 500;
            cursor: pointer;
        }
        
        .btn:hover{
            background-color: #148;
        }
        
        #mendu{
            display: none;
            position: absolute;
            z-index: 1000;
            min-width: 10rem;
            padding: .5rem 0;
            margin: 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
        }
        
        #mendu.show {
            display: block;
        }
        
        .mendu-item{
            padding: 8px 20px;
            cursor: pointer;
        }

/* uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */
.testSmallImages {
    height:50%;
    width: 100%;
    background-color: #212529;

}
/* Define the styles for the small image */
.small-image {
  width: 100px;
  height: 100px;
  cursor:pointer;
}

/* Define the styles for the large image */
.large-image {
    display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 400px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 5s ease-in-out;
}
.large-image.visibility {
    display:inline-block;
}

/* Define the styles for the large image when it's scaled up */
.large-image.scaled-up {
  transform: translate(-50%, -50%) scale(2);
}

/* Define the styles for the large image when it's moved up */
.large-image.moved-up {
    transition: transform 5s ease-in-out;
  top: 25%;
}

/* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */
</style>


<div class="galleryCarousel">
    

    
<div class="testSmallImages">
    <img src="images/mr-potato-4.svg" class="small-image" onclick="smallImageOneClick()"> 
    <img src="images/mr-potato-4.svg" class="large-image" id="large-image-1">

</div>
<script>
  function smallImageOneClick(){
    console.log("small image one click")
            document.getElementById('large-image-1').classList.toggle('visibility')
            document.querySelector('.large-image').classList.toggle('scaled-up');
            document.querySelector('.large-image').classList.toggle('moved-up');
        };
    
</script>

