<div id="headerContent">
    <div class="innerHeader  sticky">
        <!-- <div class="logo"><a href="#home">MB</a></div> -->
        
        <nav class="navBar2" id="nav">
          <ul class="ul.no-bullets" id="homeButton">
            <li><a href="#home" class="navButton2" >MB</a></li>
          </ul>
          <div class="hamburger">
            <ul id="menu">
              <li>
                <a href="#"><img src="./images/icon-hamburger-white.svg" height="40px"/></a>
            <ul>
              <li><a href="#galleryTitle">Work</a></li>
              <li><a href="#aboutTitle">About</a></li>
              <li><a href="#contactTitle">Contact</a></li>
            </ul>		
              </li>
            </ul>
          </div>
            <ul class="navBar2ULOther ul.no-bullets" id="otherNavButtons">
            <li><a href="#galleryTitle" class="navButton2">Gallery</a></li>
            <li><a href="#aboutTitle" class="navButton2">About</a></li>
            <li><a href="#contactTitle" class="navButton2">Contact</a></li>
          </ul>
        </nav>
    
      </div>
</div>