
    <div class="heroTopContainer">
      <div class="heroTextContainer">
        <h1>Hi, my name is Mario Bustillos</h1>
        <p>I like to make things</p>
        <div class="skillMiniContainer">
          <div class="pill" id="skillPillOne"><img src="./images/icon-code-white.svg"/>Software Development</div>
          <div class="pill" id="skillPillTwo"><img src="./images/icon-mic.svg"/>Collaboration</div>
          <div class="pill" id="skillPillThree"><img src="./images/icon-image-white.svg"/>Graphic Design</div>
        </div>
      </div>
      <div class="heroImageContainer shadow-md">
        <img src="./images/mario-portrait (2).webp"/>
      </div>
    </div>