


  <!-- https://codepen.io/alphardex/pen/dyPQyKY -->

  <div class="carousel">
    <div class="slides">
      <img src="/images/319.png" alt="Stainless Steel" class="slideImage" />
      <img src="/images/garage1.png" alt="Stainless Steel" class="slideImage" />
      <img src="/images/sptile2svg.svg" alt="Stainless Steel" class="slideImage" />
      <img src="/images/HB2.png" alt="Stainless Steel" class="slideImage" />
    </div>
    <div class="overlays">
      <div class="bar" style="--bar-color: #0b5485;"></div>
      <div class="bar" style="--bar-color: #656565;"></div>
      <div class="bar" style="--bar-color: #ff3c00;"></div>
      <div class="bar" style="--bar-color: rgba(170, 245, 231, 0.612);"></div>
    </div>
    <ul class="carouselNavLinks">
      <li><a href="#gallery" class="carouselNavLink"><img src="/images/319.png" alt="Stainless Steel"/></a></li>
      <li><a href="#gallery" class="carouselNavLink"><img src="/images/garage1.png" alt="Stainless Steel"/></a></li>
      <li><a href="#gallery" class="carouselNavLink"><img src="/images/sptile2svg.svg" alt="Stainless Steel"/></a></li>
      <li><a href="#gallery" class="carouselNavLink"><img src="/images/HB2.png" alt="Stainless Steel"/></a></li>
    </ul>
    
  </div>
  <div class="slideComments">
    <div class="slideComment" style="--bar-color: rgba(0, 115, 255, 0.612);">
adsflkjasd lkads flkj adsfl;kja ds;f lkjasdl;fkj  as;dl kj as;dfkl ja sdflk j asd;lfkj as;dlfk jas;dlfkj;l kadsff;lkj sd l;kadsfl kjadlsfkj ;ladsj f;lk l; aksj;lkjadsf;lkjasd;l kjasd;lfk jaeoqwifjelwkn adklsnv;als kj;aeiow l;kaj sl;kjasdl;fkj ;ailsjf ;klaj df    </div>
    <div class="slideComment" style="--bar-color: rgba(170, 245, 231, 0.612);">
      ----  -- ----- ---- --- --- ----- ---- ------ ---- -- - --- ------ ------ - -- ---- --- -- ----- -- - ----- -- --- -- ------ ----- --- - --------- ----- --- --- - --- ----- ---- ----- -
    </div>
    <div class="slideComment" style="--bar-color: rgba(170, 245, 231, 0.612);">
      a d sf a sflkjasd lkads flkj adsfl;kja ds;f lkjasdl;fkj  as;dl kj as;dfkl ja sdflk j asd;lfkj as;dlfk jas;dlfkj;l kadsff;lkj sd l;kadsfl kjadlsfkj ;ladsj f;lk l; aksj;lkjadsf;lkjasd;l kjasd;lfk jaeoqwifjelwkn adklsnv;als kj;aeiow l;kaj sl;kjasdl;fkj ;ailsjf ;klaj df    ;fkj  as;dl kj as;dfkl ja sdflk j asd;lfkj as;dlfk jas;dlfkj;l kadsff;lkj sd l;kadsfl kjadlsfkj ;ladsj f;lk l; aksj;lkjadsf;lkjasd;l kjasd;lfk jaeoqwifjelwkn adklsnv;als kj;aeiow l;kaj sl;kjasdl;fkj ;ailsjf ;klaj df    
    </div>
    <div class="slideComment" style="--bar-color: rgba(170, 245, 231, 0.612);">
      askjahdf;lkajdf;lkjadfl kajdsf;lkadjsf;lkjads f;lkajdsf;lkajdsf;lkadjs f;lkadjsf;lkadsf;lakdsjf;l akdsjf;aldsfj; alksdf;lkajds fiop9uqweopirupqoweirup qoewurpoqiweurpo iu235923467452346501894 560198475091823
    </div>
  </div>

  <!-- xxxxxxxxxxxxxxxxxxxxxxxxx modal two Content xxxxxxxxxxxxxxxxxxxxxxxx -->


