
<div id="modalThreeContent">

  <div class="modal__textContainer">
    <h2>Blog Logo/Icon</h2>
    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
  </div>
  <div class="modal__miniGallery">
    <img src="./images/HB1.png" alt=""  width="500px" height="500px"/>
    <img src="./images/HB3.svg" alt=""  width="500px" height="500px"/>
    <img src="./images/HB1.png" alt=""  width="500px" height="500px"/>
    <img src="./images/HB3.svg" alt=""  width="500px" height="500px"/>
  </div>

  
</div>
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxx modal two Content xxxxxxxxxxxxxxxxxxxxxxxx -->


