
    <div class="skillsContainer">
    <div class="skillCard">
      <div class="skillCardImageContainer">
        <img src="./images/icon-full-stack-white.svg"/>
      </div>
        <p class="skillTitle">Full Stack</p>
        Javascript, Nextjs, MongoDB
    </div>
    <div class="skillCard">
      <div class="skillCardImageContainer">
        <img src="./images/icon-team-white.svg"/>
      </div>
      <p class="skillTitle">Teams Focused</p>
      SCRUM, Agile, Communications
    </div>
    <div class="skillCard">
      <div class="skillCardImageContainer">
        <img src="./images/icon-designer-white.svg"/>
      </div>
      <p class="skillTitle">Designer</p>
      UI/UX, Figma, SVG
    </div>
  </div>

